// Navigation Styles here
nav {
    margin-top: 20%;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.5rem;
    display: flex;
    border-bottom: dashed #C0C0C0 2px;
    align-items: center;
    a {
     
        text-decoration: none;
        color: black;
        margin-bottom: 3%;
      
        margin-right: 2%;
    }
    

    .blog-name-nav{
        color: red;
        font-family: 'indie flower';
        display: flex;
        margin-right: auto;
        font-size: 4rem;
       
       


    
       
    }
}